body {
    margin: 0;
    font-family: Arial;
    background: #0b3c6f;
    color: white;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background: #021a33;
    padding: 20px;
}

.main {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #021a33;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

input {
    width: 95%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    background: white;
    color: black;
}

button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #00c853, #64dd17);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

#hint {
    font-size: 1.2rem;
    color: #00eaff;
}

#winnerText {
    color: gold;
    animation: pop 1s infinite alternate;
}

@keyframes pop {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}